    </div>
  </div>
</main>
<footer id="colophon" class="clearfix">
<div class="widget-wrap">
  <div class="container">
    <div class="widget-area clearfix">
      <div class="one-third">
        <aside class="widget widget_nav_menu"><h2 class="widget-title">Information</h2>
          <div class="menu-infomeny-container">
            <ul id="menu-infomeny" class="menu">
              <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/">Sektioner</a></li>
              <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/forening.html/">Föreningen</a></li>
              <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/medlemskap.html">Bli medlem</a></li>
              <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/styrelse.html">Styrelsen</a></li>
            </ul>
          </div>
        </aside>
      </div>
      <div class="one-third">
        <aside id="text-4" class="widget widget_text"><h2 class="widget-title">Om föreningen</h2>
          <div class="textwidget">
            <p>Dalregementets IF grundades 1908 och har en rad olika sektioner som bedriver idrotter i flera olika sporter och grenar.</p>
            <p>Föreningen är medlem i följande förbund:</p>
            <ul class="list">
              <li><a href="https://www.budokampsport.se">Svenska Budo &amp; Kampsportsförbundet</a></li>
              <li><a href="https://www.friidrott.se/forening-forbund/forbund/">Svenska Friidrottsförbundet</a></li>
              <li><a href="https://svenskfaktning.se">Svenska Fäktförbundet</a></li>
              <li><a href="https://mangkampsforbundet.se">Svenska Mångkampsförbundet</a></li>
              <li><a href="https://svensksimidrott.se">Svenska Simförbundet</a></li>
              <li><a href="https://www.skidor.com">Svenska Skidförbundet</a></li>
              <li><a href="https://www.svensktriathlon.org">Svenska Triathlonförbundet</a></li>
            </ul>
          </div>
        </aside>
      </div>
      <div class="one-third">
        <aside id="text-3" class="widget widget_text"><h2 class="widget-title">Kontaktinformation</h2>
          <div class="textwidget"><p><b>Postadress</b><br>
Dalregementets IF<br>
c/o Annerstedt<br>
Holvret 20<br>
790 23 Svärdsjö</p>
<p>
För att kontakta styrelsemedlemmar direkt <a href="/styrelse.html">se styrelseinformation</a>.
</p>
          </div>
        </aside>
      </div>
    </div>
  </div>
</div>
<!--
<div class="info-bar">
  <div class="container clearfix">
    <div class="info clearfix">
      <ul>
        <li class="address"></li>
      </ul>
    </div>
  </div>
</div>
-->
<div id="site-generator">
  <div class="container clearfix">
    <div class="social-profiles clearfix">
      <ul>
        <li class="github"><a href="https://github.com/Dalregementets-IF" target="_blank" rel="noopener noreferrer"></a></li>
      </ul>
    </div>
  </div>
</div>
</footer>
</div>
</body></html>
