<!DOCTYPE HTML>
<html lang="sv-SE">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="$DESCRIPTION">
    <meta name="keywords" content="$KEYWORDS">
    <title>$TITLE</title>
    <!--[if IE]><link rel="shortcut icon" href="favicon.ico" type="image/x-icon"><![endif]-->
    <link rel="icon" href="favicon.png" type="image/png">
    <link rel='stylesheet' href='/css/interface.style.css' type='text/css' media='all'>
    <link rel='stylesheet' href='/css/font-awesome.css' type='text/css' media='all'>
    <link rel='stylesheet' href='/css/responsive.css' type='text/css' media='all'>
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=PT+Sans%3A400%2C700italic%2C700%2C400italic&#038;ver=5.6.8' type='text/css' media='all'>
    <!-- EXTRACSS -->
  </head>
  <body>
<div class="wrapper">
<header id="branding" >
<!--
-->
  <div class="info-bar">
    <div class="container clearfix">
      <div class="info clearfix">
        <ul></ul>
      </div>
      <div class="social-profiles clearfix">
        <ul>
          <li class="github"><a href="https://github.com/Dalregementets-IF" target="_blank" rel="noopener noreferrer"></a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="hgroup-wrap">
    <div class="container clearfix">
      <div id="site-logo" class="clearfix">
        <a href="/" title="$SITE_TITLE" rel="home">
          <img src="/img/dalreg-logo-100.webp" alt="logo" width="100" style="float: left;">
        </a>
        <span id="site-title">
          <a href="/" title="$SITE_TITLE" rel="home">$SITE_TITLE</a>
          <span id="site-description">$SUBTITLE</span>
        </span>
      </div>
      <label for="menu-toggle-switch" class="menu-toggle">
          <!--<button class="menu-toggle">Responsive Menu</button>-->
      </label>
      <div class="hgroup-right">
        <nav id="access" class="clearfix">
          <input type="checkbox" id="menu-toggle-switch" name="css-menu-switch">
          <ul id="menu" class="nav-menu">
            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children"><a href="/">Hem</a></li>
            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children"><a>Sektioner</a>
              <ul class="sub-menu">
                <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/lopning.html">Löpning & Triathlon</a></li>
                <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/atlet.html">Atlet</a></li>
                <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="https://faktningfalun.se" title="Extern sida öppnas i ny flik eller nytt fönster" target="_blank">
                  Fäktning & Modern Femkamp
                  <span class="icon external-link-icon">
	            <i class="fa fa-external-link" aria-hidden="true"></i>
                  </span>
                </a></li>
                <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/tennis.html">Tennis</a></li>
                <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="https://www.facebook.com/kravmagadalarna" title="Extern sida öppnas i ny flik eller nytt fönster" target="_blank">
                  Krav Maga
                  <span class="icon external-link-icon">
	            <i class="fa fa-external-link" aria-hidden="true"></i>
                  </span>
                </a></li>
                <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="https://www.facebook.com/groups/233643798553944" title="Extern sida öppnas i ny flik eller nytt fönster" target="_blank">
                  Skidor
                  <span class="icon external-link-icon">
	            <i class="fa fa-external-link" aria-hidden="true"></i>
                  </span>
                </a></li>
                <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/olskytte.html">OL-Skytte</a></li>
                <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/skidskytte.html">Skidskytte</a></li>
              </ul>
            </li>
            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children"><a>Föreningen</a>
              <ul class="sub-menu">
                <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/forening.html">Om föreningen</a></li>
                <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/medlemskap.html">Bli medlem</a></li>
                <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/styrelse.html">Styrelsen</a></li>
              </ul>
            </li>
            <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/tavlingar.html">Tävlingar</a></li>
            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children"><a>Dokument &amp; filer</a>
              <ul class="sub-menu">
                <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/Filer/">Filer</a></li>
                <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/Mötesprotokoll/">Mötesprotokoll</a></li>
              </ul>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>

  <div class="slogan-wrap">
    <div class="container">
      <div class="slogan">
      </div>
    </div>
  </div>

  <!-- BANNER -->
</header>
<main id="main">
  <div class="container clearfix">
    <div id="content">
      <!-- PAGETITLE -->
